<nav class="navbar navbar-inverse">
    <div class="conatiner-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Scrape-It</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/saved">Saved Articles</a>
            </li>
            <li>
                <a class="btn btn-danger new-scrape">FRESH SCRAPE</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
        <h1>Scrape It</h1>
        <p>From Across The Pond</p>
    </div>
</div>

<div class="container-fluid article-container articles"></div>