<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
        <h1>Scrape It</h1>
        <p>From Across The Pond</p>
    </div>
</div>

<div class="container-fluid article-container articles">
    {{#each articles}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href={{link}}><h3>{{title}}</a><a class="btn btn-success save">Save Article</a></h3>
        </div>
        <div class="panel-body">
            {{body}}
        </div>
    </div>
    {{/each}}
</div>